<ion-card style="height: 500px;">
  <ion-card-header>
    <ion-item lines="none">
      <ion-avatar slot="start" style="height: 50px; width: 50px;">
        <ion-img src="{{getAvatarUrl(recipe?.userId)}}"></ion-img>
      </ion-avatar>
      <ion-label (click)="clickUser(recipe?.userId)" style="cursor: pointer">
        <h2>{{getUser(recipe?.userId)}}</h2>
      </ion-label>
    </ion-item>
  </ion-card-header>

  <ion-card-content>
    <ion-img class="recipeImg" (click)="clickRecipe(recipe?.recipeId)" src="{{recipe?.recipeURL}}"></ion-img>
  </ion-card-content>

  <ion-card-content>
    <ion-row>
      <ion-col>
        <app-rating [rating]="averageRating || 0"></app-rating>
      </ion-col>
    </ion-row>
    <h3 (click)="clickTitle(recipe?.recipeId)">{{recipe?.title}}</h3>
    <div class="description-container">
      <p class="description">{{recipe?.description}}</p>
    </div>
  </ion-card-content>

  <div class="card-icons" *ngIf="isCurrentUserRecipe">
    <img src="https://cdn4.iconfinder.com/data/icons/simplicity-vector-icon-set/512/pen.png"
         alt="Edit"
         width="20"
         height="20"
         style="cursor: pointer"
         (click)="editRecipe(recipe)">

    <img src="https://cdn2.iconfinder.com/data/icons/trash-can-5/64/Artboard_2_copy-512.png"
         alt="Delete"
         width="20"
         height="20"
         style="cursor: pointer; margin-left: 5px;"
         (click)="deleteRecipe(recipe)">
  </div>
</ion-card>




