ion-card-header{
  --ion-background-color: #E9EDC9;
}


ion-card {
  margin-left: 50px;
  margin-top: 50px;
  max-width: 400px;
  border: 5px solid #CCD5AE;
  border-radius: 8px;
  color: black;
  background-color: #E9EDC9;
  display: inline-block;
}

ion-card-content {
  text-align: center;
}

ion-card-header ion-item {
  flex: 1;
}

h3{
  font-size: 20px;
}

.recipeImg:hover{
  cursor:pointer;
  transform: scale(1.05);
}
