<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Upload Image:</ion-label>
        <input type="file" accept="image/png, image/jpeg" (change)="handleImageChange($event)">
        <ion-img>[src]="foodPicture"</ion-img>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Recipe Name:</ion-label>
        <ion-input placeholder="Enter recipe name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Write a short description of your recipe in 255 characters of less!</ion-label>
        <ion-textarea placeholder="Enter description"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label>Ingredients:</ion-label>
        <ion-button (click)="addIngredient()">Add Ingredient</ion-button>
      </ion-item>
      <ion-list>
        <ion-item>
          <ion-label> </ion-label>
          <ion-input placeholder="Enter ingredient"></ion-input>
        </ion-item>
      </ion-list>

      <ion-item>
        <ion-label>Steps:</ion-label>
        <ion-button (click)="addStep()">Add Step</ion-button>
      </ion-item>
      <ion-list>
        <ion-item>
          <ion-label> </ion-label>
          <ion-input placeholder="Enter step"></ion-input>
        </ion-item>
      </ion-list>

      <ion-button (click)="saveRecipe()">Save Recipe</ion-button>
      <ion-button color="danger" (click)="clickCancel()">Cancel</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
