<ion-content>
  <div class="ion-text-top">
    <h1>TRENDING RECIPES</h1>
  </div>
  <app-home-recipe></app-home-recipe>

  <div class="ion-text-center">
    <h1>NEW RECIPES</h1>
  </div>
  <div class="container" *ngFor="let recipe of recipeService.recipes">
    <app-user-recipe [recipe]="recipe"></app-user-recipe>
  </div>

  <ion-row>
    <ion-col size="auto">
      <ion-img src="https://example.com/your-image.jpg"></ion-img>
    </ion-col>
    <ion-col>
      <p>Your text goes here...</p>
    </ion-col>
  </ion-row>

</ion-content>


