<div class="forgot-login-container">
  <div class="text">
    <p>Input email for password recovery</p>
  </div>

  <ion-card>
    <ion-card-content>

      <ion-item class="input-field">
        <ion-label class="custom-label" position="floating">Email</ion-label>
        <ion-input class="custom-input"></ion-input>
      </ion-item>


      <ion-button class="send-button" expand="full" (click)="clickSend()">Send mail</ion-button>
    </ion-card-content>
  </ion-card>
  <div class="button-container">
    <ion-button class="other-button" fill="clear" (click)="clickBack()">Back</ion-button>
  </div>
</div>
