ion-toolbar{
  --background: #DAEAEF;
}

ion-content {
  --background: url('https://images.squarespace-cdn.com/content/v1/60b2e31fa9d3b95c71fc66b1/7bcc27ce-25fd-4593-b0e2-b3ad65b6bc5d/General+Landing+Page+Banner.jpg?format=1500w') center center / cover no-repeat;
  height: 100vh;
}






