<ion-menu style="pointer-events: all !important;" menu-id="side-menu" content-id="main-content">

  <ion-content id="main-content" class="ion-padding">
    <ion-list lines="none">
      <ion-item>
        <ion-avatar>
          <img src= "{{ UserPicture }}" alt="Profile Picture">
        </ion-avatar>
        <ion-label>
          <h2 class="user-name">{{ Username }}</h2>
        </ion-label>
      </ion-item>


      <ion-item (click)="clickCreateRecipe()">
        <ion-label class="menu-label">Create new Recipe</ion-label>
      </ion-item>
      <ion-item (click)="clickSettings()">
        <ion-label class="menu-label">Settings</ion-label>
      </ion-item>


      <ion-item class="logout-item" (click)="clickLogOut()">
        <ion-label class="menu-label">
          Login / Logout
        </ion-label>
      </ion-item>
   </ion-list>
  </ion-content>
</ion-menu>

