<ion-header>
  <ion-toolbar full>
    <ion-avatar slot="start">
      <ion-img src="https://jooinn.com/images/dog-67.jpg"></ion-img>
    </ion-avatar>
    <ion-title>
      <h3>
        John Smith
        <!-- Use an img tag for the custom pen icon -->
        <img src="https://icons.iconarchive.com/icons/designcontest/vintage/256/Ink-Pen-2-icon.png" (click)="clickEdit()" style="width: 20px; height: 20px; cursor: pointer; margin-left: 5px;" />
      </h3>
      <ion-input *ngIf="isEditMode" [(ngModel)]="editedDescription" placeholder="Edit description" (keyup.enter)="saveChanges()"></ion-input>
      <p *ngIf="!isEditMode" (click)="clickEdit()">{{ description }}</p>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-label>Recipes</ion-label>
        <ion-badge>10</ion-badge>
      </ion-button>
      <ion-button>
        <ion-label>Followers</ion-label>
        <ion-badge>100</ion-badge>
      </ion-button>
      <ion-button>
        <ion-label>Following</ion-label>
        <ion-badge>50</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-user-recipe></app-user-recipe>
</ion-content>


