ion-toolbar{
  --background: #FAEDCD;
  height: 150px;
}

ion-avatar{
  margin-left: 20px;
  cursor: pointer;
  margin-top: 20px;
}

ion-badge{
  background-color: transparent;
  color: black;
}
iontoast {
  .toast-message {
    --background: #ff0000 !important;
    --color:black !important;
  }
  .toast-container  {
    --background: #ff0000 !important;
    --color:black !important;
  }

}

.container {
  margin-top: 20px;
  margin-right: 40px;
  margin-left: 40px;
  display: inline-block;
}

.profile-text{
  text-align: center;
  margin-top: 50px;
}

