<ion-header>
  <!-- Profile Header -->
  <ion-toolbar full>
    <ion-avatar slot="start">
      <ion-img src="https://jooinn.com/images/dog-67.jpg"></ion-img>
    </ion-avatar>
    <ion-title>
      <!-- Username and info -->
      <h3>John Smith</h3>
      <p>Hi, I'm John and my favorite food is lasagna. Follow for follow!</p>
    </ion-title>
    <ion-buttons slot="end">
      <!-- Display the number of recipes, followers, and following -->
      <ion-button>
        <ion-label>Recipes</ion-label>
        <ion-badge>10</ion-badge>
      </ion-button>
      <ion-button>
        <ion-label>Followers</ion-label>
        <ion-badge>100</ion-badge>
      </ion-button>
      <ion-button>
        <ion-label>Following</ion-label>
        <ion-badge>50</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-user-recipe></app-user-recipe>
</ion-content>

