ion-toolbar{
  --background: #FAEDCD;
}

ion-avatar{
  margin-left: 20px;
  cursor: pointer;
}

ion-badge{
  background-color: transparent;
  color: black;
}
iontoast {
  .toast-message {
    --background: #ff0000 !important;
    --color:black !important;
  }
  .toast-container  {
    --background: #ff0000 !important;
    --color:black !important;
  }

}

