<ion-header>
  <ion-toolbar full>
    <ion-avatar slot="start">
      <ion-img src="{{ avatarUrl }}" (click)="fileSelector.click()"></ion-img>
      <input type="file" #fileSelector id="file-selector" style="display:none" (change)="onFileSelected($event)" accept="image/png, image/jpeg"/>
    </ion-avatar>
    <ion-title>
      <h3>
        Welcome back {{ username }} did you know your email is {{ email }} ?
        <!-- Use an img tag for the custom pen icon -->
      </h3>
      <ion-input *ngIf="isEditMode" [(ngModel)]="editedDescription" (keyup.enter)="saveChanges()"></ion-input>
      <p *ngIf="!isEditMode" (click)="clickEdit()">{{ moreInfo }} </p>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-label>Recipes</ion-label>
        <ion-badge>{{ amountOfRecipes}}</ion-badge>
      </ion-button>
      <ion-button>
        <ion-label>Followers</ion-label>
        <ion-badge>100</ion-badge>
      </ion-button>
      <ion-button>
        <ion-label>Following</ion-label>
        <ion-badge>50</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-user-recipe></app-user-recipe>
</ion-content>


